.item {
    display: inline-block;
    cursor: pointer;
}

body {
    background-color: pink;
}

.body {
    display: flex;
    justify-items: normal;
    align-items: center;
}

.body button {
    margin: 30px
}